@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
* {
  font-family: "Nuosu SIL", serif;
}
header {
  user-select: none;
}
body {
  width: 600px;
  margin: 0 auto;
  background: rgb(2, 65, 70);
  background: linear-gradient(
    30deg,
    rgba(2, 65, 70, 1) 0%,
    rgba(21, 133, 65, 1) 28%,
    rgba(0, 212, 255, 1) 85%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  display: flex;
  justify-content: center;
}
header > div,
.search,
input,
.reset {
  padding: 1rem 2rem;
  border-radius: 4rem 0 4rem 0;
  font-size: 24px;
  color: rgb(95, 133, 172);
  background: rgba(240, 248, 255, 0.432);
  /* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
header > h1 {
  background: -webkit-linear-gradient(
    30deg,
    rgba(2, 65, 70, 1) 0%,
    rgba(21, 133, 65, 1) 28%,
    rgba(0, 212, 255, 1) 85%
  );
  text-align: center;
}
.search {
  border: 0;
  font-style: italic;
  border-radius: 2rem 0 2rem 0;
}
input {
  border: 0;
  border-radius: 2rem;

  font-size: 18px;
  margin: 1rem;
  padding: 1rem;
  background: rgba(240, 248, 255, 0.582);
}
.currentTitle {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.568);
  font-style: italic;
}

.movieDiv {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  background: rgba(240, 248, 255, 0.432);
  border-radius: 1rem;
}
.movieDiv > [data-desc] {
  text-align: end;
}

img {
  /* box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75); */
  width: 300px;
  height: 450px;
}
